<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="data source=LabelPrint.db;Version=3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WorkStation" value="admin" />
    <add key="SupplierName" value="11" />
    <add key="SupplierCode" value="1" />
    <add key="UpLabelBuilderURL" value="http://phlabel.npshk.meritar.cn/WebService1.asmx" />
    <add key="MethodName" value="UpFiberhomeMaterialInfo" />
    <add key="Password" value="wjmXXpXfiKxUoqWS6i911A==" />
    <add key="SNExcelPath" value="C:\Users\Meritar\Desktop\OutBoundFGSN_Excel\"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="binding1" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="FPLabelPrintingWcfService.PrintSetService">
        <endpoint address="" behaviorConfiguration="endpointBehavior" binding="basicHttpBinding" bindingConfiguration="binding1" contract="FPLabelPrintingWcfService.IPrintSetService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" isSystemEndpoint="false" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:10001/FPLabelPrintingWcfService/" />
            <!--<add baseAddress="http://192.168.1.4:10001/FPLabelPrintingWcfService/" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>