<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="data source=ExtractInventoryTool.db;Version=3" />
    <add key="XITgeelyBOM" value="{'St':0,'MR':3,'MC':0,'SR':3,'SC':2,'VR':2,'VC':5}" />
    <add key="XITgeelyPP" value="{'St':0,'VR':6,'VC':1,'UR':6,'UC':2,'DR':4}" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>